+selection() {
  color: #fff;
  background-color: rgba(red, .99);
}


html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: background-color-primary;
  line-height: 1.2;

  &.scrolled {
    navigation {
      background: rgba(background-color-primary, .98);
      position: fixed;
      a { color: menu-text-color; }
    }
  }

  &.open {
    navigation {
      height: 100%;
      background: rgba(background-color-secondary, .98);
    }
  }
}

.main {}

hr {
  border: none;
  border-bottom: 2px solid black;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: .75em 0 .75em;
}

ul {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  list-style-type: none;
  li { line-height: 1.4; }
}

a {
  transition: all .3s ease;
  color: link-color-primary;
  text-decoration: none;
  &:hover {
    color: text-color-primary-hover;
  }
  &.anchor {
    display: block;
    position: relative;
    top: -2.9em;
    visibility: hidden;
  }
}

//
// NAVIGATION
// ******************************************************************
navigation {
  transition: all .3s ease;
  position: absolute;
  background:  transparent;
  display: block;
  text-align: center;
  height: 60px;
  overflow: hidden;
  padding: 0.8em 0 1em;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;

  [class^='icon-'] {
    position: relative;
    &:before {
      font-size: 36px;
      position: absolute;
      left: -40px;
      top: 5px;
    }
  }

  .menu {
    inline-icon: 'hamburger';
    display: block;
    font-size: 1.6em;
    text-align: right;
    margin-right: 20px;
    span { display: none; }
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      display: block;
      margin: 0.5em 1em;
      &:last-child { margin-right: 0; }
      a {
        font-family: header-font;
        font-size: 1.4em;
        font-weight: 300;
        display: block;
        padding: 5px 20px 5px 50px;
        color: white;
        box-shadow: 0 0 0 2px transparent;
        &:hover {
          background: menu-background-color-hover;
          color: menu-text-color-hover;
          box-shadow: 0 0 0 2px menu-border-color-hover;
        }
      }
    }
  }

  @media medium-up {

    padding: 0.5em 0.8em;

    height: auto;

    .menu { display: none; }

    navigation {
      height: auto;
    }
    ul {
      height: auto;
      opacity: 1;
      li { display: inline-block; }
    }

  }
}


section(background-color, text-color) {
  background-color: background-color;
  .box { box-shadow: 0 0 0 2px text-color; }
  h1, h2, h3, h4, p, & {
    color: text-color;
    border-color: rgba(text-color, .05);
  }
}

.sub-header {
  section(background-color-primary, text-color-primary);
  .wrapper { padding: 20px; }

  img {
    width: 100%;
    max-width: 100px;
  }

  h2 {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-bottom: .5em;
    font-size: 1.2em;
    line-height: 1;
  }

  p {
    font-size: .85em;
    line-height: 1.5em;
  }

  @media medium-up {
    img { max-width: 100%; }
    h2 { font-size: 2em; }
    p {
      font-size: 1em;
      line-height: 1.6;
    }
  }
}


screen-color(color, border-size = 2px) {
  i:before { color: color; }
  h3 a {
    box-shadow: 0 0 0 border-size transparent;
    color: color;
    z-index: 300;
    &:hover {
      background: color;
      box-shadow: 0 0 0 border-size color;
      color: background-color-secondary;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

screen-background-color(color) {
  background-color: color;
  &:before {
    background-color: color;
  }
}


//
// Cross Sectional
// ******************************************************************
$section-large {
  h2 {
    margin-bottom: 2em;
  }
  h3:nth-of-type(1) { margin-top: 0; }
  padding-bottom: 8em;
  padding-top: 8em;
}

section,
header {
  a.button {
    border-radius: 1000px;
    box-shadow: 0 0 0 2px link-background-color-primary;
    color: link-text-color-primary;
    padding: .25em 1em;
    &:hover {
      box-shadow: 0 0 0 2px link-background-color-primary-hover;
      background-color: link-background-color-primary-hover;
      color: link-text-color-primary-hover;
      padding: .25em 1em;
    }
  }


  a {
    display: inline-block;
    color: link-text-color-primary;
    &:hover {
      background: link-background-color-primary-hover;
      color: link-text-color-primary-hover;
      padding: 0 10px;
    }
  }

  .box {
    box-shadow: 0 0 0 2px black;
    padding: 2em;
    text-align: center;
    &.no-border {
      box-shadow: none;
    }
  }

}

//
// HEADER
// ******************************************************************

$absotutely {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

header {
  background-image: url('/assets/img/us.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  padding-top: 300px;
  padding-bottom: 200px;
  position: relative;

  &:before {
    @extend $absotutely;
    content: '';
    background-color: rgba(black, 45%);
  }

  h1 {
    color: header-text-color;
    font-size: 3.4em;
    font-weight: 200;
    padding-bottom: 0;
  }

  h2 {
    font-size: 3em;
    margin-bottom: .15em;
    margin-top: .5em;
    padding-bottom: .35em;
    padding-top: .35em;
  }

  h3 {
    font-size: 1.75em;
    line-height: 1;
    padding-bottom: 0.25em;
  }

  @media medium-up {
    h1 { font-size: 6em; }
  }

}

//
// Accomodations
// ******************************************************************
section.accomodations {
  section(background-color-secondary, text-color-secondary);
  @extend $section-large;


  ul {
    padding-left: 0;
    list-style-type: none;
  }

  a {
    color: red;
    &:hover { color: white; }

    &.button {
      box-shadow: 0 0 0 2px text-color-secondary;
      color: text-color-secondary;
      &:hover {
        box-shadow: 0 0 0 2px red;
        color: white;
      }
    }
  }

  h3 {
    font-size: 1.6em;
    + p {
      padding-bottom: 0;
    }
  }

  .price {
    font-size: 2.6em;
  }

  h4 {
    font-size: 1.3em;
    margin-top: 1.5em;
    padding-bottom: 0;
  }


}


//
// wedding-party
// ******************************************************************
section.wedding-party {
  section(background-color-primary, text-color-primary);
  @extend $section-large;

  text-align: center;

  .pleepon {
    margin-bottom: 2em;
    min-height: 360px;
  }
  img {
    border-radius: 1000px;
    width: 80%;
  }

  h3 {
    font-size: 2.4em;
    margin-bottom: 1em;
  }

  h4 {
    color: red;
    font-size: 2em;
    font-weight: 100;
    min-height: 146px;
    padding-bottom: .2em;
  }

  p {
    padding-top: 0;
    margin-top: 0;
  }

  .pleepon {
    min-height: 480px
  }

}


//
// things-to-do
// ******************************************************************
section.things-to-do {
  section(background-color-secondary, text-color-secondary);
  @extend $section-large;

  h2 + p {
    font-size: 1.4em;
  }

  .box h2 {
    font-size: 2.8em;
    margin-bottom: 0.5em;
    padding-bottom: 0;
    text-transform: uppercase;
  }

  h3 {
    color: lighten(grey, 60%);
    font-family: base-font;
    font-size: 1.6em;
    margin-bottom: 1em;
    margin-top: 2em;
    padding-bottom: 0;
    text-transform: uppercase;

    + p {
      padding-bottom: 0;
    }
  }

  h3 + h4 {
    margin-top: 0;
  }

  h4 {
    box-shadow: 0 -2px 0 white;
    font-size: 1.3em;
    margin-bottom: .5em;
    margin-top: 2em;
    padding-bottom: 0;
    padding-top: 1.5em;
  }

  em {
    color: lighten(grey, 60%);
    font-size: .75em;
  }
}


//
// registry
// ******************************************************************
section.registry {
  section(background-color-primary, text-color-primary);
  @extend $section-large;

  h3 {
    font-size: 1.6em;
  }

  a.button {
    color: red;
    box-shadow: 0 0 0 2px red;
    font-size: 1.2em;
    padding-bottom: 10px;
    &:hover {
      color: white;
    }
  }
}

//
// FOOTER
// ******************************************************************

footer {
  section(background-color-secondary, text-color-secondary);
  @extend $section-large;
  text-align: center;
  padding: 20px;
}

.fa:before {
  transition: color .3s ease;
  color: rgba(light-red, 1);
  font-size: 16px;
  margin-right: 6px;
  line-height: 1.25;
}

input[type=image] {
  display: block;
  margin: 0 auto;
}
