
// ------------------------------------------------
// Brand colors
black                 = #3d4352;
white                 = #fefcff;
grey                  = #b9b3b0;
light-grey            = #f8f6fa;

green                 = #3cb878;
blue                  = #24a7a9;
yellow                = #fec03a;
light-yellow          = #fff1c1;
purple                = #28253a;
red                   = #de6a71;
light-red             = #d79597;


// ------------------------------------------------
// Font settings

serif-font            = "adelle", serif;

base-font             = "proxima-nova-soft", sans-serif;
base-line-height      = 1.8;
base-font-color       = light-grey;
base-font-weight      = 400;
base-font-size        = 18px;
base-text-shadow      = none;

// Header font settings
header-font           = serif-font;
header-font-color     = light-grey;
header-transform      = none;
header-weight         = 400;


// Code font settings
code-font             = "source-code-pro", sans-serif;
code-background-color = black;
code-font-color       = light-grey;
code-font-size        = 14px;
code-font-weight      = 800;
code-line-height      = 1.4;
code-border           = 0 2px 0 0 white;
code-comment-color    = rgba(code-font-color, .5);


// ------------------------------------------------
// Grid stuff
total-columns         = 12;
row-width             = 1600px;
column-gutter         = 30px;

// Media Query Ranges
small-range           = (0em 40em);
medium-range          = min(40.063em, 64em);
large-range           = min(64.063em, 90em);


// ------------------------------------------------
// Just some variables for the icon-font
icon-font-name        = 'kpr';
icon-root-url         = '/assets/fonts/';

icons = {
  hotel: "\e600",
  home: "\e601",
  things-to-do: "\e602",
  registry: "\e603",
  wedding-party: "\e604"
}


// ------------------------------------------------
// Color settings

// HEADER
header-text-color                     = yellow

// BACKGROUND
background-color-primary              = white
background-color-secondary            = grey

// TEXT
text-color-primary                    = black
text-color-secondary                  = white

// LINKS
link-background-color-primary         = light-grey
link-background-color-primary-hover   = red
link-text-color-primary               = light-grey
link-text-color-primary-hover         = white
link-background-color-secondary       = transparent
link-background-color-secondary-hover = light-red
link-text-color-secondary             = light-red
link-text-color-secondary-hover       = black

// MENU
menu-background-color                 = transparent
menu-background-color-hover           = red
menu-border-color                     = transparent
menu-border-color-hover               = red
menu-text-color                       = red
menu-text-color-hover                 = white

// BLOCKQUOTE
blockquote-background                 = light-red
